.wrapper {
  width: 90%;
  padding-top: 30px;
  padding-left: 110px;
}

.header {
  background: white;
  border-radius: 25px;
  color: #424242;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.1);
}

.title {
  margin: 0;
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 25px;
  color: #14121e;
  font-weight: 800;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
}

.search-button {
  outline: none;
  border: 0;
  float: right;
  margin-right: 20px;
  color: #14121e;
  background: none;
  font-size: 30px;
}

.search-container {
  display: inline-block;
  float: right;
}

.search-text {
  display: inline-block;
}

.form {
  display: inline-block;
}

.entries-wrapper {
  padding-top: 10px;
  margin-top: 2%;
  width: 35%;
  background: white;
  border-radius: 25px;
  color: #424242;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.1);
}
