<div class="wrapper">
  <div *ngIf="activeConnection" class="header">
    <p class="title" *ngIf="activeConnection">{{ activeConnection.name }}</p>
  </div>
  <app-attributes *ngIf="activeConnection"></app-attributes>
  <div class="entries-wrapper">
    <app-entry
      (exampleOutput)="exampleMethodParent($event)"
      *ngFor="let entry of entries; let i = index"
      [index]="i"
      [entry]="entry"
    ></app-entry>
  </div>
</div>
