<div class="attribute-container">
  <p class="attribute-title">{{ attributeDisplayName }}</p>
  <button class="attribute-remove-btn" (click)="removeAttribute()">
    <mat-icon>remove_circle</mat-icon>
  </button>
  <button class="attribute-edit-btn" (click)='editAttribute()'>
    <mat-icon>edit</mat-icon>
  </button>
</div>
