.attribute-container {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
}

.attribute-title {
  color: #424242;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  padding-left: 5%;
}

.attribute-remove-btn {
  outline: none;
  background: none;
  color: #f44336a6;
  border: none;
  font-size: 30px;
  font-weight: 700;
  float: right;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}

.attribute-remove-btn:hover {
  transform: scale(1.5);
}

.attribute-edit-btn {
  outline: none;
  background: none;
  color: #2196f3a6;
  border: none;
  font-size: 30px;
  font-weight: 700;
  float: right;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}

.attribute-edit-btn:hover {
  transform: scale(1.5);
}
