<div class="container" *ngIf="attributes">
  <div class="attributes-container-top">
    <p class="entryDn">{{ convertedDn }}</p>
  </div>
  <div class="attributes-container-middle">
    <app-attribute-item
      (attributeOutput)="attributeLoadAttributes($event)"
      *ngFor="let a of attributes; let i = index"
      [index]="i"
      [attribute]="a"
      [entryDn]="entryDn.fullDn"
    >
    </app-attribute-item>
  </div>

  <div class="attributes-container-bottom">
    <button class="add-attribute" (click)="addAttribute()">
      +
    </button>
  </div>
</div>
