.container {
  width: 46%;
  margin-right: 3%;
  margin-top: 20px;
  right: 0;
  position: fixed;
  z-index: 200;
  height: 77%;
  background: white;
  border-radius: 25px;
  color: #424242;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.1);
}

.attributes-container-top {
  margin-bottom: 5px;
  width: 100%;
  height: 15%;
  padding-left: 5%;
  border-bottom: 1px solid #EEEEEE;
}

.attributes-container-middle {
  height: 400px;
  overflow: auto;
  width: 100%;
  height: 70%;
}

.attributes-container-bottom {
  margin-top: 5px;
  width: 100%;
  height: 15%;
  border-radius: 10px 0px 10px 0;
}

.attribute-value {
  margin: 0;
}

.entryDn {
  font-weight: 800;
  font-size: 27px;
  padding-top: 10px;
  word-break: break-all;
  display: inline-block;
}

/* .add-attribute {
  border: 0;
  border-radius: 20px;
  background: white;
  color: #14121e;
  font-size: 20px;
  font-weight: 800;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  float: right;
  margin: 30px;
  outline: none;
} */

 .add-attribute {
  border: 0;
  border-radius: 50%;
  background: #424242;
  color: white;
  height: 60px;
  width: 60px;
  font-size: 20px;
  font-weight: 800;
  margin-top: 8%;
  outline: none;
  margin-left: 45%;
  font-size: 35px;
  font-weight: 500;
  transition: all .2s ease-in-out;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.64);
} 

.add-attribute:hover {
  transform: scale(1.1);
}