<h2>{{ data.parentEntry.dn }}</h2>
<hr />
<div [ngClass]="mainPanel ? 'main-panel-show' : 'main-panel-hidden'">
  <mat-horizontal-stepper *ngIf="data.rename" #stepper>
    <mat-step>
      <ng-template matStepLabel>Object Classes</ng-template>
      <div
        class="attribute-preview-container"
        *ngFor="let attribute of attributes; let j = index"
      >
        <p>{{ attribute.key }} : {{ attribute.value }}</p>
        <button
          *ngIf="!attribute.mandatory"
          class="remove-attribute-btn"
          (click)="removeAttributeFromList(j)"
        >
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
        <button class="edit-attribute-btn" (click)="editAttribute(attribute, j)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <button
        mat-flat-button
        class="add-button"
        (click)="showObjectClassesPanel()"
      >
        Add
      </button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Distinguished Name</ng-template>
      <ng-template #container> </ng-template>
      <div
        class="rdn-preview-container"
        *ngFor="let rdn of rdns; let i = index"
      >
        <p class="rdn-preview-text">{{ rdn }}</p>
        <button class="remove-attribute-btn" (click)="removeRdnFromList(i)">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </div>
      <button mat-flat-button class="add-button" (click)="addRdnForm()">
        Add
      </button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Finish</ng-template>
      <p *ngIf="dnPreview">DN Preview: {{ dnPreview }}</p>
      <button
        mat-flat-button
        tabindex="1"
        class="add-button"
        (click)="addEntry()"
      >
        Finish
      </button>
    </mat-step>
  </mat-horizontal-stepper>
  <div *ngIf="!data.rename">
    <form [formGroup]="renameFormGroup">
      <mat-form-field class="entryDn" appearance="outline">
        <mat-label>Distinguished Name</mat-label>
        <input matInput formControlName="entryDn" required />
      </mat-form-field>
    </form>
    <button
      mat-flat-button
      tabindex="1"
      class="add-button"
      (click)="renameEntry()"
    >
      Save
    </button>
  </div>
</div>

<div *ngIf="objectClassesPanel">
  <h2>Object Classes</h2>
  <form [formGroup]="formGroup">
    <mat-form-field class="input-full-width" appearance="outline">
      <mat-label>Attribute Name</mat-label>
      <input
        readonly
        *ngIf="editAttributeState"
        matInput
        formControlName="attributeNameCtrl"
        [matAutocomplete]="auto"
        required
      />
      <input
        *ngIf="!editAttributeState"
        matInput
        formControlName="attributeNameCtrl"
        [matAutocomplete]="auto"
        required
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    :
    <mat-form-field class="input-full-width" appearance="outline">
      <mat-label>Attribute Value</mat-label>
      <input matInput formControlName="attributeValueCtrl" matInput required />
    </mat-form-field>
  </form>
  <button mat-flat-button class="save-btn" (click)="addObjectClass()">
    Save
  </button>
  <button mat-flat-button class="back-btn" (click)="backToMainPanel()">
    Back
  </button>
</div>

<div *ngIf="distinguishedNamePanel">
  <h2>Distinguished name</h2>
  <form [formGroup]="rdnFormGroup">
    <mat-form-field class="input-full-width" appearance="outline">
      <input matInput formControlName="rdnNameCtrl" required />
    </mat-form-field>
    =
    <mat-form-field class="input-full-width" appearance="outline">
      <input matInput formControlName="rdnValueCtrl" matInput required />
    </mat-form-field>
  </form>
  <button mat-flat-button class="save-btn" (click)="addRdn()">Save</button>
  <button mat-flat-button class="back-btn" (click)="backToMainPanel()">
    Back
  </button>
</div>
