.add-button {
  background: #14121e;
  color: white;
  width: 100%;
  margin-top: 50px;
  font-size: 22px;
  padding: 10px;
}

.add-rdn-form {
  width: 100;
}

.main-panel-hidden {
  display: none;
}

.main-panel-show {
  display: inline;
}

.rdn-preview-container {
  background: #eeeeee;
  color: #14121e;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  height: 50px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.rdn-preview-container p {
  display: inline-block;
  margin: 0;
  margin-top: 10px;
}

.attribute-preview-container {
  background: #eeeeee;
  color: #14121e;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  height: 50px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.attribute-preview-container p {
  display: inline-block;
  margin: 0;
  margin-top: 10px;
}

.save-btn {
  background: #1976d2;
  color: white;
  width: 100%;
  margin-top: 50px;
  font-size: 22px;
  padding: 10px;
}

.back-btn {
  background: #f44336;
  color: white;
  width: 100%;
  margin-top: 50px;
  font-size: 22px;
  padding: 10px;
}

.remove-attribute-btn {
  border: 0;
  color: red;
  background: transparent;
  float: right;
  position: relative;
  margin: 10px;
  outline: none;
}

.edit-attribute-btn {
  border: 0;
  color: #14121e;
  background: transparent;
  float: right;
  position: relative;
  margin: 10px;
  outline: none;
}

.content-container {
  max-height: 400px;
  overflow: auto;
}
