<h2>New Connection</h2>
<button
  *ngIf="!loading"
  mat-flat-button
  tabindex="-1"
  class="cancel-button"
  mat-dialog-close
>
  <mat-icon>close</mat-icon>
</button>

<div class="connection-form-container">
  <mat-vertical-stepper class="stepper" linear #stepper>
    <mat-step [stepControl]="hostFormGroup">
      <ng-template matStepLabel>Host Parameters</ng-template>
      <form [formGroup]="hostFormGroup">
        <mat-form-field class="input-full-width" appearance="outline">
          <mat-label>Connection Name</mat-label>
          <input matInput formControlName="nameCtrl" required />
        </mat-form-field>
        <mat-form-field class="input-full-width" appearance="outline">
          <mat-label>Hostname</mat-label>
          <input matInput formControlName="hostCtrl" matInput required />
        </mat-form-field>
        <mat-form-field class="input-full-width" appearance="outline">
          <mat-label>Port</mat-label>
          <input matInput formControlName="portCtrl" matInput required />
        </mat-form-field>
      </form>

      <button
        (click)="testConnection()"
        mat-flat-button
        tabindex="1"
        class="util-button"
      >
        Test Connection
      </button>
      <svg
        *ngIf="connectionOk"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 130.2 130.2"
      >
        <circle
          class="path circle"
          fill="none"
          stroke="#73AF55"
          stroke-width="6"
          stroke-miterlimit="10"
          cx="65.1"
          cy="65.1"
          r="62.1"
        />
        <polyline
          class="path check"
          fill="none"
          stroke="#73AF55"
          stroke-width="6"
          stroke-linecap="round"
          stroke-miterlimit="10"
          points="100.2,40.2 51.5,88.8 29.8,67.5 "
        />
      </svg>
      <svg
        *ngIf="connectionError"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 130.2 130.2"
      >
        <circle
          class="path circle"
          fill="none"
          stroke="#f44336"
          stroke-width="6"
          stroke-miterlimit="10"
          cx="65.1"
          cy="65.1"
          r="62.1"
        />
        <line
          class="path line"
          fill="none"
          stroke="#f44336"
          stroke-width="6"
          stroke-linecap="round"
          stroke-miterlimit="10"
          x1="34.4"
          y1="37.9"
          x2="95.8"
          y2="92.3"
        />
        <line
          class="path line"
          fill="none"
          stroke="#f44336"
          stroke-width="6"
          stroke-linecap="round"
          stroke-miterlimit="10"
          x1="95.8"
          y1="38"
          x2="34.4"
          y2="92.2"
        />
      </svg>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Authentication</ng-template>
      <mat-checkbox
        (change)="anonymousAuthenticationChange($event)"
        class="checkbox"
        >Anonymous authentication</mat-checkbox
      >
      <form>
        <mat-form-field class="input-full-width" appearance="outline">
          <mat-label>UserDN</mat-label>
          <input
            matInput
            disabled
            [readonly]="anonymousAuthentication"
            [formControl]="userDN"
            matInput
          />
        </mat-form-field>
        <mat-form-field class="input-full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            disabled
            [readonly]="anonymousAuthentication"
            [formControl]="password"
            matInput
          />
        </mat-form-field>
      </form>
      <button mat-flat-button tabindex="1" class="util-button">
        Check Credentials
      </button>
    </mat-step>
    <mat-step class="final-step">
      <ng-template matStepLabel>Finish</ng-template>
      <div *ngIf="loading" class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <button
        *ngIf="!loading"
        mat-flat-button
        tabindex="1"
        class="save-button"
        (click)="onSaveClick()"
      >
        Save
      </button>
    </mat-step>
  </mat-vertical-stepper>
</div>
