.connection-form-container {
  min-width: 150px;
  max-width: 550px;
  width: 100%;
  margin-top: 30px;
}

.input-full-width {
  width: 100%;
}

.util-button {
  font-size: 17px;
}

.save-button {
  background: #14121e;
  color: white;
  width: 50%;
  font-size: 22px;
}

.cancel-button {
  color: #ff3b30;
  float: right;
}

h2 {
  color: #14121e;
  margin: 0;
  display: inline-block;
}

svg {
  width: 40px;
  display: inline-block;
  float: right;
  margin-right: 30px;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}
.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}
.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
