<div class="container">
  <form [formGroup]="formGroup">
    <p class="rdn-title">RDN:</p>
    <mat-form-field class="input-full-width" appearance="standard">
      <input matInput formControlName="rdnNameCtrl" required />
    </mat-form-field>
    =
    <mat-form-field class="input-full-width" appearance="standard">
      <input matInput formControlName="rdnValueCtrl" required />
    </mat-form-field>
  </form>
</div>
