<div class="connection">
    <div class="decoration"></div>
    <p class="title">{{connection.name}}</p>
    <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <p class="subtitle">ldap://{{connection.hostname}}:{{connection.port}}</p>    
    <p class="subtitle">{{connection.userDn}} </p>
    <p class="subtitle">{{connection.authenticationType}} Authentication</p>
    <!-- <button class="connect-button" mat-flat-button color="primary"  >Connect</button> -->
    <!-- <button class="explore-button" mat-flat-button color="primary" >Explore</button> -->
    <button (click)='openConnection()' class="connect-button" mat-button>Open Connection</button>
    <!-- <button class="explore-button" mat-button>Explore</button> -->
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Edit Connection</span>
        </button>
        <button (click)="deleteConnection()" mat-menu-item>
          <mat-icon>delete_outline</mat-icon>
          <span>Delete Connection</span>
        </button>

      </mat-menu>
</div>
