.connection {
  display: inline-block;
  margin-top: 50px;
  margin-left: 5%;
  width: 40%;
  height: 250px;
  border-radius: 12px;
  background: #14121e;
  padding-top: 10px;
  position: relative;
  box-shadow: 0px 14px 40px 0px rgba(0, 0, 0, 0.7);
}

p {
  color: #999999;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

.title {
  color: white;
  font-size: 22px;
  font-weight: 700;
  display: inline-block;
  padding: 0;
}

.subtitle {
  margin-top: 8px;
}

.decoration {
  width: 6px;
  height: 90%;
  background: #34c759;
  float: left;
  margin-left: 4%;
  margin-top: 1%;
  margin-right: 3%;
  border-radius: 20px;
}

.button-text {
  color: white;
  text-align: center;
  font-weight: 800;
  margin-top: 8px;
  font-size: 25px;
}

.menu-button {
  color: white;
  float: right;
  margin-right: 5px;
}

.connect-button {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 50px;
  color: white;
  /* background-color: #007bff ; */
  margin-bottom: 22px;
  font-size: 25px;
  font-weight: 500;
}

.explore-button {
  position: absolute;
  bottom: 0;
  right: 4%;
  width: 40%;
  height: 50px;
  color: #34c759;
  /* background-color:  #5856d6; */
  margin-bottom: 22px;
  font-size: 28px;
}
