.add-button {
  background: #14121e;
  color: white;
  width: 100%;
  margin-top: 20px;
  font-size: 22px;
  padding: 10px;
}

.error-container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 300px;
  overflow: auto;
}
