<h2 *ngIf="!data.attribute">Add Attribute</h2>
<h2 *ngIf="data.attribute">Edit Attribute</h2>
<form *ngIf="!data.attribute" [formGroup]="formGroup">
  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Attribute Name</mat-label>
    <input
      matInput
      formControlName="nameCtrl"
      required
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  :
  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Attribute Value</mat-label>
    <input matInput formControlName="valueCtrl" matInput required />
  </mat-form-field>
</form>
<form *ngIf="data.attribute" [formGroup]="editFormGroup">
  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Attribute Name</mat-label>
    <input readonly matInput formControlName="editNameCtrl" />
  </mat-form-field>
  :
  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>Attribute Value</mat-label>
    <input matInput formControlName="editValueCtrl" matInput required />
  </mat-form-field>
</form>
<div *ngIf="errorMessage" class="error-container">
  <p>{{ errorMessage }}</p>
</div>

<button
  *ngIf="data.attribute"
  mat-flat-button
  tabindex="1"
  class="add-button"
  (click)="editAttribute()"
>
  Save
</button>
<button
  *ngIf="!data.attribute"
  mat-flat-button
  tabindex="1"
  class="add-button"
  (click)="addAttribute()"
>
  Add Attribute
</button>
