<div class="wrapper">
    <div class="header">
        <p class="title">Connections</p>
        <button  class="new-connection-button" (click)="openDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <app-connection *ngFor="let connection of connections" [connection]="connection"></app-connection>
</div>