.wrapper {
    width: 90%;
    padding-top: 30px;
    padding-left: 110px;
}

.header {
    border-bottom: 1px solid #14121e71;
}

.title {
    margin: 0;
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 25px;
    color: #14121e;
    font-weight: 800;
    display: inline-block;
}

.new-connection-button {
    float: right;
    margin-right: 20px;

    border: none;
    border-radius: 10px;
    background: white;
    padding-top: 5px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #999999;
}

mat-icon{
    font-weight: 500;
    font-size: 30px;
    width: 30px;
    cursor: pointer;
}