/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600;700;800;900&display=swap');


body {
    margin: 0;
    background:#383c47;
    font-family: 'Muli', sans-serif;
}

