<div class="entry-container">
  <button (click)="expandEntry()" class="expand-button">
    <mat-icon *ngIf="!clicked">chevron_right</mat-icon>
    <mat-icon *ngIf="clicked">expand_more</mat-icon>
  </button>
  <div (click)="loadAttributes()" class="entry-info">
    <mat-icon *ngIf="!clicked && folder" class="entry-icon">folder</mat-icon>
    <mat-icon *ngIf="clicked && folder" class="entry-icon">folder_open</mat-icon>
    <mat-icon class="icon" *ngIf='preson'> person</mat-icon>
    <p class="entry-text">{{ entry.dn }}</p>
  </div>
  <button
    class="menu-btn"
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_horiz</mat-icon>
  </button>
  <!-- <div class="operations-container">
    <button (click)="addEntry()" class="add-entry-button">
      <mat-icon>add</mat-icon>
    </button>
    <button (click)="editEntry()" class="edit-entry-button">
      <mat-icon>edit</mat-icon>
    </button>
    <button (click)="deleteEntry()" class="delete-entry-btn">
      <mat-icon>delete</mat-icon>
    </button>
  </div> -->
</div>
<div class="child-container">
  <app-entry
    (exampleOutput)="exampleMethodParent($event)"
    *ngFor="let e of entries"
    [entry]="e"
  ></app-entry>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="addEntry()">
      <mat-icon>add</mat-icon>
      <span>New Entry</span>
    </button>
    <button mat-menu-item (click)="renameEntry()">
      <mat-icon>edit</mat-icon>
      <span>Rename Entry</span>
    </button>
    <button mat-menu-item (click)="deleteEntry()">
      <mat-icon>delete</mat-icon>
      <span>Delete Entry</span>
    </button>
  </mat-menu>
</div>
