.entry-container {
  background: transparent;
  color: #424242;
  width: 100%;
  margin: 5px;
  margin-right: 5px;
  font-weight: 400;
  word-break: break-all;
  display: inline-block;
  border-radius: 5px;
}

.entry-container:hover {
  background: rgba(189, 187, 187, 0.15);
}

.entry-container:hover .menu-btn{
  visibility: visible;
}

.entry-container-clicked {
  display: inline-block;
  background: #d2ecfe;
  color: #424242;
  width: 100%;
  margin: 10px;
  font-weight: 400;
  word-break: break-all;
}

.entry-info {
  display: inline-block;
  width: 85%;
}

.child-container {
  margin-left: 5%;
}

.entry-text {
  margin: 5px;
  font-size: 17px;
  margin-left: 40px;
  display: inline-block;
}

.entry-icon {
  margin-right: 15px;
  color: #ffd54f;
  position: absolute;
  padding-top: 3px;
}

.add-entry-button {
  border: none;
  border-radius: 10px;
  background: white;
  padding-top: 5px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  color: #999999;
  cursor: pointer;
  display: block;
}

.edit-entry-button {
  border: none;
  border-radius: 10px;
  background: white;
  padding-top: 5px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  color: #999999;
  cursor: pointer;
  display: block;
  margin-top: 5px;
}

.delete-entry-btn {
  border: none;
  border-radius: 10px;
  background: white;
  padding-top: 5px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  color: #f44336;
  cursor: pointer;
  display: block;
  margin-top: 5px;
}

.operations-container {
  display: inline-block;
  transform: scale(0.5);
  position: absolute;
  margin-bottom: 5px;
  transition: all 0.1s ease-in-out;
}

.operations-container:hover {
  transform: scale(0.95);
}

.expand-button {
  outline: none;
  border: 0;
  background: transparent;
  width: 9%;
  
}

.menu-btn {
  display: inline-block;
  width: 5%;
  background: transparent;
  border: 0;
  outline: none;
  visibility: hidden;
  color: rgb(83, 83, 83);
}

.icon {
  margin-right: 15px;
  color: #2196F3;
  position: absolute;
  padding-top: 3px;
}