.top-bar {
    width: 80px;
    height: 94%;
    background: #14121e; 
    color: #aeb0b2;
    position: fixed;
    top: 0;
    margin-left: 15px;
    margin-top: 1.5%;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
}

ul {
    list-style-type: none;
    margin: 0;
    margin-top: 17vh;
    padding: 0;
}

li {
    text-align: center;
    font-weight: 600;
    height: 100%;
    cursor: pointer;
}

p{
    text-align: center;
}

.link {
    color: #757575;
    height: 30px;
    border-radius: 12px;
    margin-top: 40px;
    background-color: #14121e;
    transform: scale(1.8);
}

.active-link {
    color: #dfdede;
    outline: none;
}

.link-text {
    text-transform: uppercase;
    margin: 0;
}