<div class="top-bar">
    <p>Ldaptic</p>
        <ul>  
            <li>
                <mat-icon 
                [routerLink]="['/home']" 
                class='link' 
                matTooltip="Home"
                matTooltipPosition='right'
                routerLinkActive="active-link">home</mat-icon>
            </li>         
            <li>
                <mat-icon 
                [routerLink]="['/explorer']"
                class='link' 
                matTooltip="Explore"
                matTooltipPosition='right'
                routerLinkActive="active-link">explore</mat-icon>
            </li>
            <li>
                <mat-icon [routerLink]="['/connections']" 
                class='link' 
                matTooltip="Connections"
                matTooltipPosition='right'
                routerLinkActive="active-link">device_hub</mat-icon>
            </li>
            <li>
                <mat-icon [routerLink]="['/logs']" 
                class='link' 
                matTooltip="Logs"
                matTooltipPosition='right'
                routerLinkActive="active-link">short_text</mat-icon>
            </li>
            <li>
                <mat-icon [routerLink]="['/help']" 
                class='link' 
                matTooltip="Help"
                matTooltipPosition='right'
                routerLinkActive="active-link">help</mat-icon>
            </li>
        </ul>
</div>